A. (Suggested duration: 90 mins)
With the given data for 548552 products, perform exploratory analysis and make
suggestions for further analysis on the following aspects.

1. **Trustworthiness of ratings:** Ratings are susceptible to manipulation, bias etc. What can you say (quantitatively speaking) about the ratings in this dataset?

2. **Category bloat:** Consider the product group named 'Books'. Each product in this group is associated with
    categories. Naturally, with categorization, there are tradeoffs between how broad or
    specific the categories must be.
    For this dataset, quantify the following: 
        a. Is there redundancy in the categorization? How can it be identified/removed? 
        b. Is is possible to reduce the number of categories drastically (say to 10% of existing categories) by sacrificing relatively few category entries (say close to 10%)?

In [545]:
import pandas as pd
import numpy as np
import itertools

def isplit(iterable):
    return [list(g) for k,g in itertools.groupby(iterable,lambda x: re.match("Id", x)) if not k]

In [546]:
#from itertools import islice
#with open("amazon-meta.txt",encoding="utf8") as myfile:
 #   head = list(islice(myfile, 100))
#head


file = open("amazon-meta.txt",encoding="utf8")
file = file.readlines()

In [299]:
len(file)

15010574

# Grab Ids

In [300]:
id_in_line = []
with open("amazon-meta.txt",encoding="utf8") as myfile:
    for num, line in enumerate(myfile, 1):
        if 'Id:' in line:
            id_in_line.append(num)

In [301]:
review_in_line = []
with open("amazon-meta.txt",encoding="utf8") as myfile:
    for num, line in enumerate(myfile, 1):
        if 'reviews:' in line:
            review_in_line.append(num)

In [323]:
search_these_ids = id_in_line
search_these_reviews = review_in_line
queried_ids = [file[i-1] for i in search_these_ids]
queried_reviews = [file[i-1] for i in search_these_reviews]

In [324]:
extracted_ids = [np.str.split(np.str.strip(i))[1] for i in queried_ids]
reviews = [[float(np.str.split(np.str.strip(i))[x]) for x in [2,4,7]] for i in queried_reviews]

In [325]:
filt = [len(i) == 8 for i in extracted_ids]
data_check = pd.DataFrame({"line":id_in_line,"ID":extracted_ids,"MIS":filt})
error_line = data_check.query("MIS == True")['line'].values[0]
print('line contents:',file[error_line-1])
extracted_ids = [d for (d, remove) in zip(extracted_ids, filt) if not remove]

line contents:   title: Monsters from the Id: The Rise of Horror in Fiction and Film

In [326]:
len(reviews), len(extracted_ids)

(542684, 548555)

In [327]:
data_check = data_check.query('MIS == False')
data_check['next_id_line'] = data_check.line.shift(-1)

In [329]:
data_check.head()

  ID    MIS  line  next_id_line
0  0  False     4           8.0
1  1  False     8          21.0
2  2  False    21          44.0
3  3  False    44          55.0
4  4  False    55          70.0

In [433]:
rows = data_check[['ID','line', 'next_id_line']].apply(tuple, axis=1)

In [436]:
chunks[1]

['1',
 'Id:   1\n',
 'ASIN: 0827229534\n',
 '  title: Patterns of Preaching: A Sermon Sampler\n',
 '  group: Book\n',
 '  salesrank: 396585\n',
 '  similar: 5  0804215715  156101074X  0687023955  0687074231  082721619X\n',
 '  categories: 2\n',
 '   |Books[283155]|Subjects[1000]|Religion & Spirituality[22]|Christianity[12290]|Clergy[12360]|Preaching[12368]\n',
 '   |Books[283155]|Subjects[1000]|Religion & Spirituality[22]|Christianity[12290]|Clergy[12360]|Sermons[12370]\n',
 '  reviews: total: 2  downloaded: 2  avg rating: 5\n',
 '    2000-7-28  cutomer: A2JW67OY8U6HHK  rating: 5  votes:  10  helpful:   9\n',
 '    2003-12-14  cutomer: A2VE83MZF98ITY  rating: 5  votes:   6  helpful:   5\n']

In [451]:
chunks = []
for i in rows:
    c,a,b = i
    chunks.append([c]+[file[int(i)] for i in np.arange(a-1,b-2)])

#### Use ID-based Ranges to grab reviews. 
- Detect review line and acquire data.

In [452]:
review_line = []
for i in chunks:
    chunk_len = len(i)
    chunk_id = i[0]
    for num, line in enumerate(i,1):
        if 'reviews:' in line:
            review_line.append([chunk_id] + [chunk_len] + [num] + [float([i for i in np.str.split(line)][i]) for i in [2,4,7]])
review_summary_by_id = pd.DataFrame(review_line, columns = ['id','chunk_len','review_line_in_chunk','review_total','review_downloaded','review_rating'])

In [449]:
review_summary_by_id.head()

,id,chunk_len,review_line_in_chunk,review_total,review_downloaded,review_rating
0,1,14,11,2.0,2.0,5.0
1,2,24,11,12.0,12.0,4.5
2,3,12,10,1.0,1.0,5.0
3,4,16,14,1.0,1.0,4.0
4,5,12,11,0.0,0.0,0.0

In [496]:
search

['2',
 'Id:   2\n',
 'ASIN: 0738700797\n',
 '  title: Candlemas: Feast of Flames\n',
 '  group: Book\n',
 '  salesrank: 168596\n',
 '  similar: 5  0738700827  1567184960  1567182836  0738700525  0738700940\n',
 '  categories: 2\n',
 '   |Books[283155]|Subjects[1000]|Religion & Spirituality[22]|Earth-Based Religions[12472]|Wicca[12484]\n',
 '   |Books[283155]|Subjects[1000]|Religion & Spirituality[22]|Earth-Based Religions[12472]|Witchcraft[12486]\n',
 '  reviews: total: 12  downloaded: 12  avg rating: 4.5\n',
 '    2001-12-16  cutomer: A11NCO6YTE4BTJ  rating: 5  votes:   5  helpful:   4\n',
 '    2002-1-7  cutomer:  A9CQ3PLRNIR83  rating: 4  votes:   5  helpful:   5\n',
 '    2002-1-24  cutomer: A13SG9ACZ9O5IM  rating: 5  votes:   8  helpful:   8\n',
 '    2002-1-28  cutomer: A1BDAI6VEYMAZA  rating: 5  votes:   4  helpful:   4\n',
 '    2002-2-6  cutomer: A2P6KAWXJ16234  rating: 4  votes:  16  helpful:  16\n',
 '    2002-2-14  cutomer:  AMACWC3M7PQFR  rating: 4  votes:   5  helpful:   5\n',
 '    2002-3-23  cutomer: A3GO7UV9XX14D8  rating: 4  votes:   6  helpful:   6\n',
 '    2002-5-23  cutomer: A1GIL64QK68WKL  rating: 5  votes:   8  helpful:   8\n',
 '    2003-2-25  cutomer:  AEOBOF2ONQJWV  rating: 5  votes:   8  helpful:   5\n',
 '    2003-11-25  cutomer: A3IGHTES8ME05L  rating: 5  votes:   5  helpful:   5\n',
 '    2004-2-11  cutomer: A1CP26N8RHYVVO  rating: 1  votes:  13  helpful:   9\n',
 '    2005-2-7  cutomer:  ANEIANH0WAT9D  rating: 5  votes:   1  helpful:   1\n']

In [539]:
review_lines = review_summary_by_id[['id','chunk_len','review_line_in_chunk']].head(4).apply(tuple, axis=1)
review_lines

0    (1, 13, 11)
1    (2, 23, 11)
2    (3, 11, 10)
3    (4, 15, 14)
dtype: object

In [544]:
review_detail_collector = []
for row in review_lines:
    prod_id,b,a = row
    prod_id = int(prod_id)
    search = chunks[prod_id+1]
    query_range = np.arange(a,b)
    [[prod_id+1]+[np.str.split(search[i])[x] for x in [0,2,4,6,8]] for i in query_range]

IndexError: list index out of range

In [535]:
row

('1', 13, 11)

In [ ]:
    b,a = review_lines[prod_id]
    query_range = np.arange(a,b)
    review_detail_collector.append([[prod_id+1]+[np.str.split(search[i])[x] for x in [0,2,4,6,8]] for i in query_range])

[[2, '2001-12-16', 'A11NCO6YTE4BTJ', '5', '5', '4'],
 [2, '2002-1-7', 'A9CQ3PLRNIR83', '4', '5', '5'],
 [2, '2002-1-24', 'A13SG9ACZ9O5IM', '5', '8', '8'],
 [2, '2002-1-28', 'A1BDAI6VEYMAZA', '5', '4', '4'],
 [2, '2002-2-6', 'A2P6KAWXJ16234', '4', '16', '16'],
 [2, '2002-2-14', 'AMACWC3M7PQFR', '4', '5', '5'],
 [2, '2002-3-23', 'A3GO7UV9XX14D8', '4', '6', '6'],
 [2, '2002-5-23', 'A1GIL64QK68WKL', '5', '8', '8'],
 [2, '2003-2-25', 'AEOBOF2ONQJWV', '5', '8', '5'],
 [2, '2003-11-25', 'A3IGHTES8ME05L', '5', '5', '5'],
 [2, '2004-2-11', 'A1CP26N8RHYVVO', '1', '13', '9'],
 [2, '2005-2-7', 'ANEIANH0WAT9D', '5', '1', '1']]

In [499]:
b,a

(11, 10)